.nome {
    color: red;
}

.card{
    width: 80%;
    border: 1;
    background-color: rgb(32, 31, 31);
    border-radius: 20px;
}

.myname{
    color: white;
    font-size: large;
}

.desc{
    color: white;
    font-size: medium
}
